.imagem_mosquito{
    height: 70px;
    width: 70px;
    
   
}
.inverterDireita{
    transform: scaleX(1);
}
.inverterEsquerda{
    transform: scaleX(-1);
}

/*
==============================
=======BACKGROUND=============
==============================

*/

body{
    background: url(/imagens/bg.jpg) no-repeat ;
    

    
}

/*barrinha de vida e tempo*/

.conteiner-vida-tempo{
    background-color: antiquewhite;
    position: absolute;
    padding: 10px 25px 10px 25px;

    left: 0px;
    bottom: 0px;

    opacity: 0.7;
}
/*estilizacao do tempo*/
#tempo{
    font-family: sans-serif;
    font-weight: bold;
}
#vidas{
    float: left;
}

/*pagina do game over*/
#body-game-over .conteiner-game-over{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#body-game-over .conteiner-game-over #botao-reiniciar{
    color: #fff;
    background-color: #000;
    border: none;
    padding: 10px;

    cursor: pointer;
}
#body-game-over .conteiner-game-over #botao-reiniciar:hover{

    background-color: rgb(23, 23, 23);
    
}





